NEXT_PUBLIC_SITE_URL=https://SEU-SITE.netlify.app
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
MELHOR_ENVIO_API_URL=https://www.melhorenvio.com.br/api/v2
MELHOR_ENVIO_ACCESS_TOKEN=
TRIDRA_ORIGIN_POSTAL_CODE=33200000
NEXT_PUBLIC_TRIDRA_WHATSAPP=5531999999999
NEXT_PUBLIC_TRIDRA_EMAIL=comercial@tridra.com.br
